/* #region common */
* {
    /* border: 1px dashed; */
}
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

:root{

    --boot-banner: rgba(27, 114, 232, 1);
    --boot-fail: rgba(220, 53, 69, 1);
    --boot-success: rgba(25, 135, 84, 1);
    --boot-process: rgba(255, 193, 7, 1);
    --boot-bell: rgba(255, 143, 0, 1);
    --boot-bg_sidebar: rgba(5, 30, 52, 1);
    --boot-badge:rgba(22, 91, 186, 1);
    --boot-icon_dark: rgba(108, 117, 125, 1);
    --boot-icon_darker: rgba(91, 88, 88, 1);
    --boot-nav_lighter: rgba(251, 251, 252, 1);
    --boot-nav_search: rgba(229, 229, 229, 1);
    --boot-main_lighter: rgba(248, 249, 250, 1);
    --boot-main_light: rgba(247, 247, 247, 1);
    
}

/* #endregion common */

/* #region utilities */

/* #endregion utilities */

/* #region header */

#site_header{
    background-color: var(--boot-nav_lighter);
}
.fa-bell{
    color: var(--boot-bell);
}
.nav_search{
   color: var(--boot-nav_search);
}
/* #endregion header */

/* #region wrapper */

#wrapper{
    height: calc(100% - 66px);
}

/* #region sidebar */

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--boot-bg_sidebar);
}

/* #endregion sidebar */

/* #region main */

main{
    overflow-y: auto;
}
/* #region banner */

.banner{
    background-color: var(--boot-banner);
    
}
.bg_badge{
    background-color: var(--boot-badge);
}
/* #endregion banner */

/* #region main_content */

.main_content{
    
    background-color: brown;
}

/* #region left_main */

.left_main{
    background-color: aquamarine;
}

/* #endregion left_main */


/* #region right_main */

.right_main{
    background-color: chocolate;
}

/* #endregion right_main */



/* #endregion main_content */

/* #endregion main */

/* #endregion wrapper */



